---
title: Lovebettie - pioneers of Swagger Rock
---
.header-image
  %img{src: '/images/lb.jpg'}

.cal.container
  .row
    #calendar.col.s12{data: {apiKey: "#{ENV['GOOGLE_CAL_API_KEY']}", calendarId: "#{ENV['GOOGLE_CAL_ID']}"}}

.social-bar
  .row.center.social-images
    = link_to image_tag('/images/f.svg', height: '64px'), 'https://www.facebook.com/lovebettie/', target: '_blank'
    = link_to image_tag('/images/twitter.svg', height: '64px'), 'https://twitter.com/Lovebettie', target: '_blank'
    = link_to image_tag('/images/instagram.svg', height: '64px'), 'https://www.instagram.com/lovebettie/', target: '_blank'
